/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  box-sizing: border-box;
}
*,*::before,*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  background-image: url(../img/fondo2.jpg);
  /*background-color: green;*/
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Open Sans', sans-serif;
}
body:before{
  content: "";
  width: 100%;
  /*min-height: calc(100vh-10px);*/
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, orange, white);
  opacity: 0.5;
  z-index: -1;
}
/**globales**/

.contenedor{
  width: 95%;
  margin: 0 auto;
}
@media only screen and (min-width: 480px){
  .contenedor{
    width: 95%;
  }
}
@media only screen and (min-width: 768px){
  .contenedor{
    width: 90%;
  }
}
@media only screen and (min-width: 992px){
  .contenedor{
    width: 90%;
    max-width: 1100px;
  }
}
.seccion{
  padding: 5px 0;
}
.seccion p{
  font-size: 1.2em;
  text-align: center;
}
h2{
  font-family: 'Oswald', sans-serif;
  font-size: 2.4em;
  text-transform: uppercase;
  text-align: center;
  color: #122b4d;
}
h2::after{
  content: '';
  margin: 0 auto;
  background-image: url(../img/separador.png);
  height: 25px;
  width: 100px;
  display: block;
}
h3{
  font-size: 1.3em;
  color: #fe4918;
  font-family: 'PT Sans', sans-serif;
  margin: 0;
}

.button{
  background-color: #fa4949;
  padding: 10px 40px;
  color: #feffec;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1em;
  margin-top: 10px;
  display: inline-block;
  transition: all .3s ease;
  border-radius: 10px;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.button:hover{
  background-color: #830d92;
}
.float-right{
  float: right;
}
/**header**/

div.hero {
  background-image: url(../img/fondo.png);
  background-color: rgba(102, 120, 224, 0.5);
  height: 84vh;
  background-position: top center;
  background-size: cover;
}
div.contenido-header{
  padding-top: 40px;
}
div.informacion-tutor{
  text-align: center;
  color: rgba(31, 33, 143, 0.8);
}
@media only screen and (min-width:768px){
  div.informacion-tutor{
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
  }
}
div.informacion-tutor p{
  margin: 0;
  display: inline;
  font-size: 20px;
  text-transform: uppercase;
}
p.curso{
  text-transform: none!important;
}
p.curso span{
  font-weight: bold;
}
h1.nombre-sitio{
  font-size: 5.9vw;
  text-transform: uppercase;
  font-family: 'PT Sans', sans-serif;
}
@media only screen and (min-width:768px){
  h1.nombre-sitio{
    font-size: 7.5vw;
    margin: 0;
    line-height: 1;
  }
}
  
/**barra**/
div.barra{
  background-color: #aa1c92;
  padding: 10px 0;
}
div.logo{
  width: 80%;
  float: left;
}
div.logo img{
  width: 100%;
}
@media only screen and (min-width: 768px){
  div.logo{
    width: 33%;
  }
}
/*navegacion principal*/
nav.navegacion-principal{
  display: none;
}
nav.navegacion-principal a{
  font-family: 'Oswald', sans-serif;
  color: #fff;
  font-size: 1.3em;
  text-transform: uppercase;
  text-decoration: none;
  transition: all .6s ease;
  width: 100%;
  display: block;
  text-align: center;
  margin-bottom: 20px;
}
nav.navegacion-principal a:hover{
  background-color: #8b0faa;
}
nav.navegacion-principal a:last-child{
  border: 2px solid #fecd1a;
  color: #f3d774;
}
nav.navegacion-principal a:last-child:hover{
  color: #fff;
}
@media only screen and (min-width: 768px){
  nav.navegacion-principal{
    width: 67%;
    float: right;
    text-align: right;
    display: block;
  }
  nav.navegacion-principal a{
    padding: 10px 10px;
    display: inline-block;
    width: auto;
    display: inline-block;
    text-align: center;
    margin: 0 10px 0 0;
  }
}

/**menu-movil**/
div.menu-movil{
  width: 60px;
  display: block;
  float: right;
  text-align: right;
  margin-top: 12 px;
}
div.menu-movil:hover{
  cursor: pointer;
}
@media only screen and (min-width: 768px){
  div.menu-movil{
    display: none;
  }
}
div.menu-movil span{
   height: 8px;
   margin-bottom: 6px;
   background-color: white;
   display: block;
   padding: 0.5rem 1rem;
}
/*multiplicacion*/
section.programa{
  position: relative;
}
/*contenedor contenido formularioyyyAAAAFONDO*/
div.contenedor-contenido {
  background-image: url(../img/fondoverde.png);
  max-width: 100%;
  height: 86vh;
  background-position: top center;
  background-size: cover;
}
div.contenedor-contenidologin {
  background-image: url(../img/fondologin.png);
  max-width: 100%;
  height: 84vh;
  background-position: top center;
  background-size: cover;
}
div.contenedor-contenidoregistro {
  background-image: url(../img/fondoregistro.png);
  max-width: 100%;
  height: 84vh;
  background-position: top center;
  background-size: cover;
}
div.contenedor-contenidotipotema {
  background-image: url(../img/fondotipotema.jpg);
  max-width: 100%;
  height: 84vh;
  background-position: top center;
  background-size: cover;
}
div.contenedor-contenidomulti {
  background-image: url(../img/fondotipotema.jpg);
  max-width: 100%;
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
div.contenedor-contenido2 {
  background-image: url(../img/fondoexamen.png);
  max-width: 100%;
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
div.contenedor-contenidoexamen2 {
  background-image: url(../img/examen3.png);
  max-width: 100%;
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
div.contenedor-contenidoexamen3 {
  background-image: url(../img/examen5.png);
  max-width: 100%;
  height: 105vh;
  background-position: top center;
  background-size: cover;
}
div.contenedor-contenidoexamen4 {
  background-image: url(../img/examen6.png);
  max-width: 100%;
  height: 100vh;
  background-position: top center;
  background-size: cover;
}
div.contenedor-contenidomod {
  background-image: url(../img/fondomod.png);
  max-width: 100%;
  height: 110vh;
  background-position: top center;
  background-size: cover;
  margin-top: 0px;
}
div.contenedor-contenidomodt{
  background-image: url(../img/fondomodt.png);
  max-width: 100%;
  height: 85vh;
  background-position: top center;
  background-size: cover;
  margin-top: 0px;
}
div.contenedor-contenidoregt{
  background-image: url(../img/fondomodt.png);
  max-width: 100%;
  height: 85vh;
  background-position: top center;
  background-size: cover;
  margin-top: 0px;
}
div.contenido-programa{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}
div.programa-matematica{
  background-color: rgba(255, 255, 255, .5);
  padding: 2px 15px 15px 15px;
  margin-top: 20px;/*80*/
}
@media only screen and (min-width:768px){
  div.programa-matematica{
    width: 70%;
  }
}
@media only screen and (min-width:992px){
  div.programa-matematica{
    width: 50%;
  }
}
nav.menu-programa{
  width: 100%;
  border-bottom: 1px solid #fe4918;
  padding-bottom: 10px;
}
@media only screen and (min-width:768px){
  nav.menu-programa{
    display: table;
  }
}
nav.menu-programa a{
  display: block;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-family:  'Oswald', sans-serif;
  margin-bottom: 10px;
  font-size: 1.2em;
}
@media only screen and (min-width:768px){
  nav.menu-programa a{
    display: table-cell;
  }
}
nav.menu-programa a i{
  color: #fe4918;
  font-size: 1.3em;
  margin-right: 10px;
}
/*detalle matematica*/
div.detalle-matematica{
  margin-top: 20px;
  border-bottom: 1px solid black;
  padding: 0 20px;
}
div.detalle-evento:nth-child(3){
  border: none;
}
div.detalle-matematica{
  margin-bottom: 20px;
  font-size: 20px;
}
/**tipoTEMAS**/
ul.lista-tipotemas li{
  padding: 20px;
  float: left;
}
@media only screen and (min-width:480px){
  ul.lista-tipotemas li{
    width: 90%;
  }
}
@media only screen and (min-width:768px){
  ul.lista-tipotemas li{
    width: 48.3%;
  }
}
div.tipotema{
  position: relative;
  overflow: hidden;
}
div.tipotema img{
  max-width: 100%;
  -webkit-transition: all .9s ease-in-out;
}
div.tipotema:hover img{
  transform: scale(1.1);
  box-shadow: 0px 0 px 50px #666666;
}
/**TEMAS**/
ul.lista-temas li{
  padding: 10px;
  float: left;
}
@media only screen and (min-width:480px){
  ul.lista-temas li{
    width: 50%;
  }
}
@media only screen and (min-width:768px){
  ul.lista-temas li{
    width: 33.3%;
  }
}
div.tema{
  position: relative;
  overflow: hidden;
}
div.tema img{
  max-width: 100%;
  -webkit-transition: all .5s ease-in-out;
}

div.tema:hover img{
  background-image: none;
  transform: scale(1.3);
  border: 1px solid #fe4918;
  box-shadow: 0px 0 px 100px #666666;
}
div.tema p{
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 15px 10px;
  margin: 0;
  background-color: rgba(221, 245, 10, 0.815);
  width: 100%;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  color: #621a79;
  z-index: 1;
}
div.tema:hover p{
  transform: scale(1.1);
  border: 1px solid #3f94f5;
  box-shadow: 0px 0 px 100px #666666;
}
/*paralax*/
.parallax:before{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  -webkit-filter: brightness(.8);
  filter: brightness(.8);
}

.copyright{
  background-color: #aa1c92;
  color: #ccc;
  padding: 4.5px 0;
  margin: 0;
  text-align: center;
}
.copyrighti{
  background-color: #1a252f;
  color: rgb(226, 219, 219);
  padding: 0px 0;
  margin: 0;
  text-align: center;
}
/*registro nuevo*/
@media only screen and (min-width:768px){
  .campo{
    justify-content: space-between;
    flex: 0 0 calc(33.3% - 1rem);
  }
}
.campo{
  padding: .5rem 0;
}
.campo label{
  margin-bottom: 5px;
  font-weight: bold;
  padding: 10px 10px;
  margin: 10px;
}
.campo input[type="text"],
.campo input[type="number"]{
  width: 100%;
  border: none;
  padding: .4rem;
  height: 2rem;
  margin-top: .2rem;
  font-size: 1.1rem;
}
.enviar{
  display: flex;
  justify-content: center;
}
.campo input[type="submit"]:hover{
  cursor: pointer;
}
.buttonm{
  background-color: #f13ec5;
  padding: 10px 40px;
  color: rgb(17, 119, 48);
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
}
.buttonm:hover{
  background-color: #f8ffff3d;
}
.buttone{
  background-color: #f12b2b;
  padding: 10px 40px;
  color: rgb(208, 231, 215);
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  font-size: 1em;
  margin-top: 20px;
  display: inline-block;
  transition: all .3s ease;
}
.buttone:hover{
  background-color: #cc44b5;
}
div.programa-formulario{
  
  background-color: rgba(255, 255, 255, .5);
  padding: 2px 15px 15px 15px;
  margin-top: 30px;/*80*/
  text-align: center;
}
@media only screen and (min-width:768px){
  div.programa-formulario{
    width: 70%;
  }
}
@media only screen and (min-width:992px){
  div.programa-formulario{
    width: 50%;
  }
}
.tabla{
  margin: auto;
  width: 800px;
  border-collapse: separate;
  border-spacing: 30px 5px;
}
.imagen{
  width: 100%;
}
@media only screen and (min-width:768px){
  div.tabla{
    width: 70%;
  }
}
@media only screen and (min-width:992px){
  div.tabla{
    width: 50%;
  }
}

/*FORMULARIO radio*/
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
.radio{
  font: bold;
  font-family: 'Pacifico', cursive;
}
.radio input[type="radio"], .checkbox input[type="checkbox"]{
  display: none;
}
.radio label, .checkbox label{
  color: #3f10e9;
  padding: 15px 25px 2px 51px;
  display: inline-block;
  position: relative;
  font-size: 1.8em;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.radio label:hover, .checkbox label:hover{
  background: rgba(189, 67, 219, 0.541);
}
.radio label:before, .checkbox label:before{
  content: "";
  width: 27px;
  height: 27px;
  display: inline-block;
  background: none;
  border: 2px solid #3f10e9;
  border-radius: 50%;
  position: absolute;
  left: 17px;
}
.checkbox label:before{
  border-radius: 3px;
}
.radio input[type="radio"]:checked+label, .checkbox input[type="checkbox"]:checked+label{
  padding: 5px 36px;
  background: rgb(189, 67, 219);
  border-radius: 2px;
  color: rgb(249, 249, 250);
}
.radio input[type="radio"]:checked+label:before, .checkbox input[type="checkbox"]:checked+label:before{
  display: none;
}
/*tabla notas GRID*/
.contenedortabla{
  width: 90%;
  background: white;
  margin: 50px auto;
  box-shadow: 0 0 20px #333;

  display: grid;
  grid-template-columns: 100px 50px 70px/*repeat(3, 1fr);*/
  grid-auto-rows: 50px;
}
.tablatitulo{
  grid-column-start: 1;
  grid-column-end: 4;
  width: 100%;

  background: rgba(40, 65, 120, 0.596);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.9em;
}
.tablaheader, .tablaitem{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px rgba(40, 65, 120, 0.596);
}
.tablaheader{
  background: rgba(40, 65, 120, 0.322);
  font-weight: bold;
  font-size: 1.5em;
}

.tablaitem{
  padding: 10px;
  font-size: 1.2em;
}

.rojo{
  font-weight: bold;
  color: rgba(238, 37, 188, 0.788);
}
/*tabla notas GRID*/
.contenedortabla2{
  width: 90%;
  background: white;
  margin: 50px auto;
  box-shadow: 0 0 20px rgb(206, 221, 124);

  display: grid;
  grid-template-columns: repeat(4, 1fr);*/
  grid-auto-rows: 50px;
}
.tablatitulo2{
  grid-column-start: 1;
  grid-column-end: 5;
  width: 100%;

  background: rgba(117, 40, 120, 0.747);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.4em;
}
.tablaheader2, .tablaitem2{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(218, 39, 143, 0.5);
  box-shadow: 0 0 2px rgba(117, 40, 120, 0.815);
}
.tablaheader2{
  font-weight: bold;
  font-size: 1.1em;
}

.tablaitem2{
  padding: 10px;
  font-size: .9em;
}
/*tabla ver lista temas GRID*/
.contenedortabla3{
  width: 60%;
  background: rgba(233, 204, 204, 0.637);
  margin: 30px 250px;
  
  box-shadow: 0 0 20px #333;
  border-radius: 15px;

  display: grid;
  grid-template-columns: 55px 70px/*repeat(3, 1fr);*/
  grid-auto-rows: 50px;
}
@media only screen and (max-width:768px){
  .contenedortabla3{
    margin: 10px;
    width: 95%;
  }
}
.tablatitulo3{
  grid-column-start: 1;
  grid-column-end: 2;
  width: 100%;

  background: rgba(40, 65, 120, 0.596);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.9em;
}
.tablaheader3, .tablaitem3{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 2px rgba(40, 65, 120, 0.596);
}
.tablaheader3{
  background: rgba(40, 65, 120, 0.322);
  font-weight: bold;
  font-size: 1.5em;
}

.tablaitem3{
  padding: 10px;
  font-size: 1.2em;
  justify-content: center;
  align-items: center;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");
.tablaitem3 a{
  color: rgb(15, 143, 58);
  text-decoration: none;
  font: bold 30px;
  font-family: 'Roboto', sans-serif;
}
/*lista menu barra*/
.headerb{
  background: purple;
  color: white;
  padding: 1rem 5px 1rem 50px;
}
.headerb a{
  color: white;
  text-decoration: none;
}
.logo-nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.menuicono{
  display: none;
}
.navigationb ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.navigationb ul li{
  display: inline-block;
}
.navigationb ul li a{
  display: block;
  padding: 0.5rem 1rem;
  transition: all 0.4s linear;
  border-radius: 2px;/*borde del a*/
}
.navigationb ul li a:hover{
  background: #4a4a4a;
}
@media only screen and(max-width: 767px){
  .menuicono{
    display: block;
    cursor: pointer;
    padding: 0.5rem 1rem;
  }
  .navigationb{
    width: 100%;
    margin-top: 1rem;
  }
  .navigationb ul{
    display: none;
  }
  .navigationb ul.show{
    display: block;
  }
  .navigationb ul li{
    display: block;
  }
  .navigationb ul li a{
    display: block;
    padding: 0.5rem 0;
    transition: all 0.4s linear;
    border-radius: 2px;/*borde del a*/
  }
  .navigationb ul li a:hover{
    background: #4a4a4a;
  }
}
#imagen{
  width: 300px;
  display: block;
  margin: auto;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

